<p style="color: green"><%= notice %></p>

<div class='container bg-info bg-gradient mb-5 p-2'>
    <div class='row row-cols-3 justify-content-between'>
      <div class=col-md-2>
        <%= select_tag 'dropdown', options_for_select(state_options_for_select, selected: @current_filter), include_blank: 'Select a State', class: 'form-select form-control', data: { controller: 'dropdown', action: 'change->dropdown#handleChange' } %>
    </div>
    <div class='col-md-4'>
      <%= text_field_tag 'search-field', nil, placeholder: 'Enter Search Text', class: 'form-control', data: { controller: 'text-search', action: 'keyup->text-search#search' } %>
    </div>
    <div class='col-md-3'>
      <%= link_to 'Download CSV', export_to_csv_distilleries_path, class: 'btn btn-primary align-end'  %>
    </div>
  </div>
</div>

<div id="distilleries" class="container border">
    <%= render 'distilleries', distilleries: @distilleries, filter: @current_filter %>
</div>

<div class="container mt-3">
  <%= paginate @distilleries, window: 2 %>
</div>

