<p style="color: green"><%= notice %></p>

<%= render @distillery %>

<div>
  <%= link_to "Back to Deistilleries", distilleries_path %>
</div>

<%= turbo_stream_from :gmap_iframe %>
<%= button_to 'Show Map', load_gmap_iframe_distillery_path, remote: true, method: :post %>

<div id="iframes">
  <%= render partial: 'gmap_iframe', object: @distillery  %>
</div>
