<div class='card'>
    <div class='card-body'>
        <div class='card-title'>
            <div class='row'>
                <div class='col col-md-1'>
                    <%= image_tag product.images.first || 'default_bottle.png', style: {max_width: '100px'} %>
                </div>
                <div class='col col-md-4'>
                    <h3><%= product.name %></h3>
                </div>
            </div>
        </div>
        <div class='ard-text'>
            <%= link_to product.distillery&.owner_name, distillery_path(product.distillery) %>
        <div id="<%= dom_id product %>" class='row bg-light bg-gradient'>
            <div class='col col-md-1'>
                <% product.images.each do |image| %>
                    <%= image_tag image.variant(resize_to_limit: [100, 100]) %>
                <% end %>
            </div>
        </div>
    </div>
</div>
