  <div class='container'>
  <p style="color: green"><%= notice %></p>

    <%= render @product %>

    <%= label_tag :comments, 'Comments', class: 'h3 mt-2'%>
    <div id="comments-area" data-controller = 'comment-form'>
      <div id="comments">
          <%= render @product.comments %>
      </div>
      <%= form_with(model: [@product, @product.comments.build], url: create_comment_product_path, remote: true, class: 'mt-5 mb-3') do |form| %>
          <%= form.rich_text_area :content, placeholder: 'Add comment' %>
          <%= form.submit "Add Comment" %>
      <% end %>
    </div>

  <div>
    <%= link_to "Edit this product", edit_product_path(@product) %> |
    <%= link_to "Back to products", products_path %>

    <%= button_to "Destroy this product", @product, method: :delete %>
  </div>
</div>

